body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#menu {
    width: 20%;
}

.content {
    width: 60%;
}

#stats {
    width: 20%;
}

.widgets {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    margin-top: 20px;
}
